*.tar.gz

*.avi
*feh_*
*.pkl
*__pycache__*
*tmp*
*.idea
*.DS_Store*
*egg-info*
*.ply*
*linecount*
*pytest_cache*
*.vscode*
*dsprites-dataset*

*.code-workspace*

*.so*
*build

*imgui.ini*

*logs*

*HW*

*.hdf5
# *.txt
*chaoyi*
*webm*
*events*
*zhiao3_disk1*
*.npz*
# *.mp4
*.webm
# *.png
*.pt
*.pcd
*.zip
*.tiny

*.gif
*.VSCodeCounter
*.cache*
*.dot
site
docsmd

*.ruby-version*
*.puml
*robojax
*.sdf
*rpg_video*
*docs/deepwand.*
*leetcode*
*.npy

*.bag*
*.pgm

*.pth
*.glb
*.dae
*.stl
*.STL
*.DAE

*.whl
data

wis3d/
*.ipynb

adbforwarder/
alvr_green/
vr_teleop/assets/

records/